.ynex-kanban-board #completed-tasks, .ynex-kanban-board #inprogress-tasks, .ynex-kanban-board #inreview-tasks, .ynex-kanban-board #new-tasks, .ynex-kanban-board #todo-tasks {
    position: relative;
    max-height: calc(100% - 51px) !important;
}

.ynex-kanban-board {
    height: calc(100% - 100px) !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.page{
    height: 100% !important;
}

.main-content{
    height: 100% !important;
}

.container-fluid{
    /* position: absolute; */
}