body{
  overflow: hidden !important;
  user-select: none;
}

.ynex-kanban-board #completed-tasks, .ynex-kanban-board #inprogress-tasks, .ynex-kanban-board #inreview-tasks, .ynex-kanban-board #new-tasks, .ynex-kanban-board #todo-tasks {
  position: relative;
  max-height: calc(100% - 51px) !important;
}

.ynex-kanban-board {
  height: calc(100% - 100px) !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.page{
  height: 100% !important;
}

.main-content{
  height: 100% !important;
}


.defaultBodyTicket{
  min-height: 150px;
}

.select2-container{
  z-index: 9999999;
}

.kanban-tasks{
  min-height: calc(100% - 51px) !important;
}

#main-chat-content{
  overflow: auto;
  padding-bottom: 171px;
}


.simplebar-content-wrapper{
  overflow: auto !important;
}

textarea {
  min-height: 6.5rem !important;
}

#loader2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--custom-white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.btnSelectTI {
  cursor: pointer;
}

.card-body.p-0 {
  cursor: pointer;
}

/* Colocar a mãozinha de clicar para visualizar */
#table_control_password {
  cursor: pointer;
}

.disabled{
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3)) !important;
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3)) !important;
  border-color: transparent !important;
  /* border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3)) !important; */
}

.table-responsive {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

.file-manager-container {
  width: 101vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  display: flex; /* Flexbox para alinhar o conteúdo (se necessário) */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.table td, .table th {
  padding: 6px;
}

.simplebar-content-wrapper {
  height: calc(100% - 385px);
}



.btn-create-folder {
  font-size: 30px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.documents-recent {
  margin-bottom: 0 !important;
}


