body{
    overflow: hidden !important;
}

.file-folders-container{
    height: 100%;
}

.no-break {
    white-space: nowrap;       /* Impede a quebra de linha */
    overflow: hidden;          /* Oculta o texto que não cabe */
    text-overflow: ellipsis;   /* Adiciona as reticências (...) */
    max-width: 100%;         /* Define a largura máxima do elemento */
}
.file-manager-container .file-folders-container, .file-manager-container .filemanager-file-details {
    max-height: 100%
}

#loader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--custom-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Container do loader */
.loader-container {
    text-align: center;
}

.icon-square {
    display: inline-block;
    width: 100px; /* Define o tamanho do quadrado */
    height: 100px;
    background-color: #fafafa; /* Cor de fundo do quadrado */
    border-radius: 10px; /* Ajusta os cantos arredondados, se necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-square svg {
    width: 50px;
    height: 50px;
}

.selected-ticket{
    background-color: #dadada!important;
}

.file-manager-container .file-manager-folders, .file-manager-container .file-manager-navigation, .file-manager-container .selected-file-details {
    height: calc(100vh - 52px);
    margin-top: 52px;
}

#listAllApp {
    overflow-y: auto;
    max-height: calc(100% - 90px);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.categoryName{
   
        color: var(--text-muted);
        margin-block-end: 2rem;
        opacity: .6;
        position: relative;
        border-bottom: 1px solid var(--default-border) !important;
        border-bottom-style: dashed !important;
        padding-bottom: 5px;
}