.page {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    min-height: 100vh;
}

.icon-text-align i,
.icon-text-align span {
    display: inline-block;
    vertical-align: middle;
}

#loader2{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader2.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 1;
}

.avatar-list-stacked .avatar {
    margin-inline-end: -8px;
    border: 2px solid var(--defaultborder);
}

.avatar {
    position: relative;
    width: 33px;
    height: 33px;
}

/* CSS para ocultar apenas o texto "Pesquisar" */
#pending_occurrences_table_filter label {
    font-size: 0;
}

#pending_occurrences_table_filter label::after {
    content: "Pesquisar:";
    font-size: 14px;
}

.avatar-list-stacked .avatar {
    margin-inline-end: -8px;
    border: 2px solid var(--defaultborder);
}

.avatar {
    position: relative;
    width: 33px;
    height: 33px;
}

.dark .avatar-list-stacked .avatar {
    border: 2px solid var(--dark-border);
}

.dark .avatar svg {
    fill: var(--default-text-color) !important;
}

.no-break {
    white-space: nowrap;       /* Impede a quebra de linha */
    overflow: hidden;          /* Oculta o texto que não cabe */
    text-overflow: ellipsis;   /* Adiciona "..." ao final do texto cortado */
    max-width: 100%;         /* Define a largura máxima do elemento */
}

table tr{
    cursor: pointer;
}