

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.8rem !important;
    height: 3.8rem !important;
    
}

.avatar i {
    line-height: 0.8rem;
    margin: 3px 0; /* Espaçamento entre os ícones */
}
