html{
    overflow: hidden;
}

.file-manager-container .file-manager-folders, .file-manager-container .file-manager-navigation, .file-manager-container .selected-file-details {
    height: calc(100vh - 10px) !important;
}



.simplebar-content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 51px);
}

.totalUsed {
    margin-top: auto;
}